
<body>
  <div style="padding: 25px">
    <div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
      <data-table id="pers-grid"
                  headerTitle="Les membres"
                  [items]="items"
                  [itemCount]="itemCount"
                  (reload)="loadMembers()"
                  (rowClick)="rowClick($event)"
                  (rowDoubleClick)="rowDoubleClick($event)"
                  [rowTooltip]="rowTooltip">
        <data-table-column [property]="'nom_pers'"
                           [header]="'Nom et prénom'"
                           [sortable]="true"
                           [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'sexe'"
                           [header]="'Mme / M.'"
                           [sortable]="true"  
                           width="100px">

        </data-table-column>
        <data-table-column [property]="'email'"
                           [header]="'Courriel'">
        </data-table-column>

        <data-table-column [property]="'telcel'"
                           [header]="'Tél. cellulaire'">
        </data-table-column>

        <data-table-column [property]="'telres'"
                           [header]="'Tél. résidentiel'">
        </data-table-column>

        <data-table-column [property]="'location'"
                           [header]="'Adresse'"
                           width="250px">
        </data-table-column>


        <!--<data-table-column [property]="'mesage'"
                           [header]="'mesage'"                       
        </data-table-column>

        <data-table-column [property]="'dtmajdpt'"
                           [header]="'dtmajdpt'">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.dtmajdpt | date:'yyyy-MM-dd'}}</span>
          </ng-template>
        </data-table-column>-->

      </data-table>
    </div>

  </div>
</body>
