
<body>
  <div style="padding: 25px">
    <a routerLink="membres/new">  <h4> Créer </h4> </a>
    <div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
      <data-table id="pers-grid"
                  headerTitle="Les membres"
                  [items]="items"
                  [itemCount]="itemCount"
                  (reload)="loadMembers()"
                  (rowClick)="rowClick($event)"
                  (rowDoubleClick)="rowDoubleClick($event)"
                  [rowTooltip]="rowTooltip">
        <data-table-column [property]="'nom_pers'"
                           [header]="'Nom et prénom'"
                           [sortable]="true"
                           [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'sexe'"
                           [header]="'Mme / M.'"
                           [sortable]="true"
                           width="100px">

        </data-table-column>
        <data-table-column [property]="'email'"
                           [header]="'Courriel'">
        </data-table-column>

        <data-table-column [property]="'telcel'"
                           [header]="'Tél. cellulaire'">
        </data-table-column>

        <data-table-column [property]="'telres'"
                           [header]="'Tél. résidentiel'">
        </data-table-column>

        <data-table-column [property]="'location'"
                           [header]="'Adresse'"
                           width="250px">
        </data-table-column>


        <data-table-column header="Actions">
          <ng-template #dataTableHeader let-item="item">
            <i>Actions</i>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
            <button (click)="EditPers(item.id)" class="btn btn-sm btn-default">Modif btn</button>
            <a routerLink="/membres/edit/{{item.id}}">  <h4> Modif link </h4> </a>
          </ng-template>
        </data-table-column>

        <!--[routerLink]="['/events', id]" >-->

      </data-table>
    </div>

  </div>
</body>
