<h1>Angular2 Simple Edit Form</h1>

<hr />

<h2>Personne</h2>
<div class="container">
  
    <form id="personneForm" name="personneForm"  method="post" novalidate (ngSubmit)="savePersonne()" #personneForm="ngForm">
      <p>
          <label for="nameInput">Name:</label>
          <input type="text" id="nameInput" name="nameInput"  [ngClass]="pageMode" [(ngModel)]="manufacturer.name" required #nameInput="ngModel"/>
          <span class="error"  [hidden]="nameInput.valid || !nameInput.errors.required">Name field is required</span>
          <span class="displayValue" [ngClass]="pageMode">{{manufacturer.name}}</span>
      </p>
      <p>
          <label for="accountNumberInput">Account #:</label>
          <input type="text" id="accountNumberInput" name="accountNumberInput" #accountNumberInput="ngModel" [ngClass]="pageMode" [(ngModel)]="manufacturer.accountNumber" required minlength="3" [maxlength]="15"/>
          <span class="error"  [hidden]="accountNumberInput.valid || !accountNumberInput.errors.required">Account Number is required</span>
          <span class="error"   [hidden]="accountNumberInput.valid || (!accountNumberInput.errors.minlength && !accountNumberInput.errors.maxlength)">Account Number must be between 3 and 15 chars</span>
          <span class="displayValue"  [ngClass]="pageMode">{{manufacturer.accountNumber}}</span>
      </p>
      <p>
          <label for="credLimitInput">Credit Limit:</label>
          <input type="number" id="creditLimitInput" name="creditLimitInput" [ngClass]="pageMode" [(ngModel)]="manufacturer.creditLimit"/>
          <span class="displayValue" [ngClass]="pageMode">{{manufacturer.creditLimit | currency }}</span>
      </p>
      <p>
          <label for="addressLine1Input">Address 1:</label>
          <input type="text" id="addressLine1Input" name="addressLine1Input" [ngClass]="pageMode" [(ngModel)]="manufacturer.addressLine1"/>
          <span class="displayValue" [ngClass]="pageMode">{{manufacturer.addressLine1}}</span>
      </p>
      <p>
          <label for="addressLine2Input">Address 2:</label>
          <input type="text" id="addressLine2Input" name="addressLine2Input" [ngClass]="pageMode" [(ngModel)]="manufacturer.addressLine2"/>
          <span class="displayValue" [ngClass]="pageMode">{{manufacturer.addressLine2}}</span>
      </p>
      <p>
          <label for="addressCityInput">City:</label>
          <input type="text" id="addressCityInput" name="addressCityInput" [ngClass]="pageMode" [(ngModel)]="manufacturer.addressCity"/>
          <span class="displayValue" [ngClass]="pageMode">{{manufacturer.addressCity}}</span>
      </p>
      <p>
          <label for="addressStateSelect">State:</label>
          <select id="addressStateSelect" name="addressStateSelect" [(ngModel)]="manufacturer.addressState" [ngClass]="pageMode">
              <option *ngFor="let state of statesList" [value]="state">{{state}}</option>
          </select>
          <span class="displayValue" [ngClass]="pageMode">{{manufacturer.addressState}}</span>
      </p>
      <p>
          <label for="addressPostalInput">Postal:</label>
          <input type="text" id="addressPostalInput" name="addressPostalInput" [ngClass]="pageMode" [(ngModel)]="manufacturer.addressPostal"/>
          <span class="displayValue" [ngClass]="pageMode">{{manufacturer.addressPostal}}</span>
      </p>
      <p>
          <label for="phoneNumberInput">Phone Number:</label>
          <input type="text" id="phoneNumberInput" name="phoneNumberInput" [ngClass]="pageMode" [(ngModel)]="manufacturer.phoneNumber"/>
          <span class="displayValue" [ngClass]="pageMode">{{manufacturer.phoneNumber | phonenumber }}</span>
      </p>
      <p>
          <label for="faxNumberInput">Fax Number:</label>
          <input type="text" id="faxNumberInput" name="faxNumberInput" [ngClass]="pageMode" [(ngModel)]="manufacturer.faxNumber"/>
          <span class="displayValue" [ngClass]="pageMode">{{manufacturer.faxNumber | phonenumber }}</span>
      </p>
      <p>
          <label>Date Modified:</label>
          <span>{{manufacturer.dateModified | date: 'short'}}</span>
      </p>
       <p>
          <label>Date Created:</label>
          <span>{{manufacturer.dateCreated | date: 'short'}}</span>
      </p>
      
        <button type="submit" class="editButton" [ngClass]="pageMode" form="manufacturerForm"  [disabled]="manufacturerForm.invalid">Save</button>
  <button class="editButton" [ngClass]="pageMode" (click)="cancelEdit()">Cancel</button>
     
  </form> 
  
  <button class="viewButton" [ngClass]="pageMode" (click)="editManufacturer()">Edit</button>
  <button class="viewButton" [ngClass]="pageMode" (click)="newManufacturer()">New</button>
  
</div>