<div>
  <h1>
    <B>
      <U>
        L'alphabet Ghomala'
      </U>
    </B>
  </h1>

</div>

<h3>
  <p>
    a, á, b, c, d, e, Ə, Ɛ, f, g, gh, h, i, j, k, l, m, n, Ƞ, o, ᴐ, p, S, sh, t, u, ʉ, v, w, wi, y, z, zh, ',
  </p>
  <br />
  <p>
    Les sons suivants en Ghᴐm á la ' sont transcrits et prononcés différemment du français :
  </p>

  <ul>
    <li>
      <p>
        C : tch (tchèque)
      </p>
    </li>
    <li>
      <p>
        j: dj (John)
      </p>
    </li>
    <li>
      <p>
        Ƞ: ng (à la fin d’un mot)
      </p>
    </li>
    <li>
      <p>
        [e] : é (thé, démodé, manger, et)
      </p>
    </li>
    <li>
      <p>
        [ε] dans : c’était, vêtement, mais
      </p>
    </li>
    <li>
      <p>
        [ə] dans : je pense que, devoir
      </p>
    </li>
    <li>
      <p>
        sh: ch (chant)
      </p>
    </li>
    <li>
      <p>
        ᴐ : (comme le « o » de porte)
      </p>
    </li>
    <li>
      <p>
        u: ou (pou)
      </p>
    </li>
    <li>
      <p>
        zh: j (jean)
      </p>
    </li>
    <li>
      <p>
        (') n’a pas d’équivalent français
      </p>
    </li>
    <li>
      <p>
        Le reste de l’alphabet se prononce comme en français.
      </p>
    </li>
  </ul>

</h3>
<hr />

<div>
  <h1>
    <B>
      <U>
        Le ton des mots
      </U>
    </B>
  </h1>
</div>

<h3>
  <ul>
    <li>
      <p>
        « - » ton moyen Exp : shyƏ (eau), pyƏ (nous)
      </p>
    </li>
    <li>
      <p>
        « ʹ, Á  » ton haut, Exp : Père = tá, Mère = má
      </p>
    </li>
    <li>
      <p>
        «` , Ỳ ,` , à,  ì, » ton bas, Exp : tà (marmite), mà (habitude)
      </p>
    </li>
    <li>
      <p>
        « ŭ » ton bas haut Exp : pŭ = la main
      </p>
    </li>
    <li>
      <p>
        « ^ » ton haut bas EXP : pû = nous deux
      </p>
    </li>
  </ul>


</h3>
<hr />



