<div [routerLink]="['/events', event.id]" class="well hoverwel thumbnail">
  <!--     <a [routerLink]="['artist', track.artistId]"
     <a routerLink="events/2" > Voir Detail </a> -->
  <!--<div class="well hoverwel thumbnail">-->
  <!--<button type="button" class="btn btn-primary" (click)="goDetail(event.id)">   <h5> Voir Detail </h5> </button>-->

  <h2> {{ event?.name | uppercase}} </h2>
  <div> Date: {{ event?.date | date:'shortDate'}} </div>
  <div [ngStyle]="getStartTimeStyle()" [ngSwitch]="event?.time">
    Time: {{event.time}}
    <span *ngSwitchCase="'8:00 am'"> (Commence tôt) </span>
    <span *ngSwitchCase="'10:00 am'"> (Commence tard) </span>
    <span *ngSwitchDefault> (Temps normal) </span>
  </div>
  <div> Price: {{ event?.price | currency:'USD':"symbol"}}   <span>&nbsp; </span>  </div>
  <div *ngIf="event?.address">
    <!--  Affichage conditionnelle  -->
    <span> Adresse: {{event.address}}  </span>
    <span class="pad-left"> {{event.city}}, {{event.country}}</span>
  </div>

  <!--  Affichage conditionnelle    <div *ngIf="event?.onlineUrl">  -->
  <div [hidden]="!event?.onlineUrl">
    <!-- Change teh dom element property in certain conditions  -->
    Online Url: {{ event.onlineUrl}}
  </div>
  <div style="display: inline-block; text-align: right; width: 100%">
    <a routerLink="/events/{{event.id}}">  <h4> Voir Detail </h4> </a>
  </div>
</div>

