<body>
  <div style="padding: 25px">
    <div style="display: inline-block; text-align: right; width: 100%">
      <a routerLink="/rpn/new">  Ajouter </a>
    </div>
    <div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
      <data-table id="rpnpers-grid"
                  headerTitle="Adhésion RPN"
                  [items]="items"
                  [itemCount]="itemCount"
                  (reload)="loadRpnPers()"
                  (rowClick)="rowClick($event)"
                  (rowDoubleClick)="rowDoubleClick($event)"
                  [rowTooltip]="rowTooltip">

        <data-table-column [property]="'nom_pers'"
                           [header]="'Nom et prénom'"
                           [sortable]="true"
                           [resizable]="true">
        </data-table-column>
        <!-- <data-table-column [property]="'id'"
                     [header]="'id'"
                     [sortable]="true"
                     [resizable]="true">
  </data-table-column> -->

        <data-table-column [property]="'mtrle'"
                           [header]="'Matricule RPN'"
                           [sortable]="true"
                           [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'dtadh'"
                           [header]="'Date adhésion'">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.dtadh | date:'yyyy-MM-dd'}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'depot'"
                           [header]="'Dépot ($)'"
                           width="100px">
        </data-table-column>

        <data-table-column [property]="'dtmajdpt'"
                           [header]="'Mise à jour'">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.dtmajdpt | date:'yyyy-MM-dd'}}</span>
          </ng-template>
        </data-table-column>

        <data-table-column [property]="'message'"
                           [header]="'Message'"
                           width="220px"
                           color="#ff0000">
          <ng-template #dataTableCell let-item="item">
            <span style="color: rgb(232, 0, 0)"> {{item.message}}</span>
          </ng-template>
          <ng-template #dataTableHeader let-item="item">
            <span style="color: rgb(232, 0, 0)">Message</span>
          </ng-template>
        </data-table-column>

        <data-table-column header="Actions">
          <ng-template #dataTableHeader let-item="item">
            <i>Actions</i>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
            <button (click)="Edit(item.id)" class="btn btn-sm btn-default">Modifier</button>
            <!-- <a routerLink="/membres/edit/{{item.id}}">  <h4> Modif link </h4> </a> -->
          </ng-template>
        </data-table-column>

      </data-table>
    </div>

  </div>
</body>
