
<div> 
        <h3 class="panel-title"> Situation RPN</h3>

</div>
<table class="table table-hover">    
    <thead>
        <tr>
            <th>Id</th>
            <th>Groupe</td>
            <th>Personne</th>
            <th>Répondant</th>
            <th>Date Adh.</th>
            <th>Matrle</th>
            <th>Dépôt</th>
            <th>Dern. dépot</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rpnp of rpnperss" [routerLink]="['/transfer']" [queryParams]="{ id: transfer.id }">
            <td>{{rpnp.id}}</td>
            <td>{{rpnp.groupe_id}}</td>
            <td>{{rpnp.pers_id}}</td>
            <td>{{rpnp.repdt_id}}</td>
            <td>{{rpnp.dtadh}}</td>
            <td>{{rpnp.mtrle}}</td>
            <td>{{rpnp.depot}}</td>
            <td>{{rpnp.dtmajdpt}}</td>                    
        </tr>
    </tbody>
</table> 

<!-- <div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.name}}!</h1>
    <p>You're logged in with the MEAN Stack & Angular 2!!</p>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.name}} ({{user.email}} {{user.groupe_id}})
            - <a (click)="deleteUser(user._id)">Delete</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div> -->