<body>
  <div style="padding: 25px">
    <div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
      <data-table id="rpnpers-grid"
                  headerTitle="Adhésion RPN"
                  [items]="items"
                  [itemCount]="itemCount"
                  (reload)="loadRpnPers()"
                  (rowClick)="rowClick($event)"
                  (rowDoubleClick)="rowDoubleClick($event)"
                  [rowTooltip]="rowTooltip">

        <data-table-column [property]="'nom_pers'"
                           [header]="'nom_pers'"
                           [sortable]="true"
                           [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'id'"
                           [header]="'id'"
                           [sortable]="true"
                           [resizable]="true">
        </data-table-column>

        <data-table-column [property]="'mtrle'"
                           [header]="'mtrle'"
                           [sortable]="true"
                           [resizable]="true">
        </data-table-column>
        <data-table-column [property]="'dtadh'"
                           [header]="'dtadh'">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.dtadh | date:'yyyy-MM-dd'}}</span>
          </ng-template>
        </data-table-column>
        <data-table-column [property]="'depot'"
                           [header]="'Dépot ($)'"
                           width="150px">
        </data-table-column>

        <data-table-column [property]="'dtmajdpt'"
                           [header]="'dtmajdpt'">
          <ng-template #dataTableCell let-item="item">
            <span>{{item.dtmajdpt | date:'yyyy-MM-dd'}}</span>
          </ng-template>
        </data-table-column>

      </data-table>
    </div>

  </div>
</body>
